/* CSS Document

Colors

#0D3B66 - Blue
#FAF0CA - Tan
#F4D35E - Gold

*/

*, *:after {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #FAF0CA;
    color: #0D3B66;
}

main {
    margin: 2em;
}

h1 {
    padding: 2em;
    font-size: 1.8em;
}

h2 {
    padding: 2em;
    font-size: 1.4em;
}

blockquote {
    padding: 2em;
    font-size: 3em;
    text-align: center;
}

table {
    margin: 2em;
}

header {
    margin: 2em 0;
}

nav {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.6em;
    padding: 0 2em;
    display: inline-block;
}

a {
    color: #0D3B66;
    text-decoration: none;
}

a:hover {
    color: #F4D35E;
    text-decoration: none;
}

footer {

}
